/* 
Table of Contents:
1. Footer Flex Styles
2. Footer List Styles
3. Footer Link Styles
4. Footer Paragraph Styles
5. Responsive Styles for Footer
*/

/* 1. Footer Flex Styles */
footer.flex {
    justify-content: space-between;
    padding-bottom: 2rem;
}

/* 2. Footer List Styles */
footer ul.flex {
    gap: 1rem;
}

/* 3. Footer Link Styles */
footer ul.flex li a {
    color: var(--subtitle);
    font-size: 0.9rem;
}

footer ul.flex li a:hover {
    color: var(--blue);
}

/* 4. Footer Paragraph Styles */
footer.flex p {
    color:var(--subtitle);
}

/* 5. Responsive Styles for Footer */
@media (max-width: 900px) {
    footer.flex {
        flex-direction: column;
        gap: 1rem;
        flex-wrap: wrap;
    }
}
@media (max-width: 500px) {
    footer ul.flex {
        flex-direction: row;
        flex-wrap: wrap;
        
    }
}