/* ======================
        Hero Section 
========================*/
section.hero {
    display: flex;
    margin-top: 3rem;
    flex-direction: column;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
}

/* ======================
        Left Section 
========================*/
section.hero .parent-avatar.flex {
    flex-direction: column; /* Column layout for avatar and text */
    align-items: center; /* Center align items */
    justify-content: center; /* Center content vertically */
}

section.hero .avatar {
    width: 200px;
    border-radius: 50%;
    border: 2px solid rgba(93, 188, 252, .5);
    padding: 2px;
}

section.hero .left-section {
    flex-grow: 1; /* Allow this section to grow */
    display: flex;
    flex-direction: column; /* Align buttons in a column */
    align-items: center; /* Center align buttons */
}

/* Button Group */
.button-group {
    display: flex; /* Flexbox for buttons */
    flex-direction: row; /* Row layout for buttons */
    justify-content: center; /* Center buttons */
}

/* Button styles */
section.hero .left-section button {
    margin: 15px; 
    background-color: rgba(36, 37, 46, 1);
    width: 8rem;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    line-height: 1.5rem;
    opacity: 0.5;
    text-transform: capitalize;
    font-size: 1.05rem;
    transition: 0.3s;
    border: 1px solid rgb(63 63 70);
    color: var(--title);
}

section.hero .left-section button:hover {
    opacity: 1; /* Fully visible on hover */
}

/* ======================
        Responsive Design 
========================*/
@media (max-width: 600px) {
    section.hero .avatar {
        display: none; 
    }

    section.hero .left-section button {
        margin: 14px 6px; /* Adjusted margins for smaller screens */
        height: 28px;
        line-height: 1rem;
        font-size: 1.0rem;
    } 

    section.hero .sub-title {
        font-size: .8rem;
    }
}
