section.hero {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

section.hero .title {
    width: 80% !important;
    text-align: center;
    line-height: 2.2rem;
    color: var(--title);
    margin: 10px 0;
    font-size: 1.6rem;
}

section.hero .parent-avatar.flex {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.hero .avatar {
    width: 150px;
    border-radius: 50%;
    border: 2px solid rgba(93, 188, 252, .5);
    padding: 2px;
    margin-bottom: 25px;
    margin-top: 50px;
}

section.hero .left-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.hero .left-section button {
    margin: 50px 10px;
    height: 28px;
    line-height: 1rem;
    font-size: 1.0rem;
    padding: .7rem 1rem;
    background-color: rgba(36, 37, 46, 1);
    width: 8rem;
    border-radius: 5px;
    text-align: center;
    opacity: 0.9;
    font-size: 1.05rem;
    transition: 0.3s;
    border: 1px solid rgb(63 63 70);
    color: var(--title);
} 

.light section.hero .left-section button {
    color: var(--primary);
}

section.hero .left-section button:hover {
    opacity: 1;
    border: 1px solid var(--blue);
}

section.hero .card-description {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media (max-width: 1400px) {
    section.hero {
        height: auto;
    }

    section.hero .title {
        line-height: 1.3rem;
        margin-top: 20px;
        width: 70% !important;
        line-height: 1.2rem;
        font-size: 1.2rem;
    }

    section.hero .left-section button{
        width: auto;
    }
}

@media (max-width: 600px) {
    section.hero {
        height: auto;
        padding-bottom: 20px;
        margin-top: 60px;
    }
    section.hero .avatar {
        width: 100px;
        border-radius: 50%;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    section.hero .left-section button{
        width: 100%;
        margin: 10px 0;
        display: block;
        gap: 0;
        justify-content: center;
        align-items: center;
    }
    section.hero .title {
        width: 98% !important;
        line-height: 1.3rem;
        font-size: 1rem;
        margin: 8px 0;
    }
    section.hero .card-description {
        width: 98%;
    }
}


