section.hero {
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 55vh;
}

section.hero .title {
    width: 70% !important;
    text-align: center;
    line-height: 1.5rem;
    color: var(--title);
    margin: 6px 0;
    font-size: 1.1rem;
}

section.hero .parent-avatar.flex {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.hero .avatar {
    width: 90px;
    border-radius: 50%;
    border: 2px solid rgba(93, 188, 252, .5);
    padding: 2px;
    margin-bottom: 10px;
    margin-top: 10px;
}

section.hero .left-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.hero .left-section button {
    margin: 12px 5px;
    height: 26px;
    font-size: 0.95rem;
    padding: .5rem .8rem;
    width: 7rem;
    background-color: rgba(36, 37, 46, 1);
    border-radius: 5px;
    text-align: center;
    opacity: 0.9;
    transition: 0.3s;
    border: 1px solid rgb(63 63 70);
    color: var(--title);
} 

.light section.hero .left-section button {
    color: var(--primary);
}

section.hero .left-section button:hover {
    opacity: 1;
    border: 1px solid var(--blue);
}

@media (max-width: 1400px) {
    section.hero {
        height: auto;
    }

    section.hero .title {
        line-height: 1.3rem;
        margin-top: 20px;
        width: 70% !important;
        line-height: 1.2rem;
        font-size: 1.2rem;
    }

    section.hero .left-section button{
        width: auto;
    }
}

@media (max-width: 600px) {
    section.hero {
        height: auto;
        padding-bottom: 10px;
        margin-top: 20px;
    }
    section.hero .avatar {
        width: 60px;
        margin-bottom: 6px;
        margin-top: 6px;
    }
    section.hero .title {
        width: 95% !important;
        line-height: 1.1rem;
        font-size: 0.9rem;
        margin: 4px 0;
    }
    section.hero .left-section button {
        margin: 7px 0;
        height: 22px;
        font-size: 0.85rem;
        padding: .4rem .6rem;
        width: 100%;
    }
}


