.language-switcher {
  display: flex;
  gap: 10px;
}

.lang-button {
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  background-color: transparent; /* No background */
  transition: transform 0.2s; /* Add a small transition for hover effect */
  position: relative; /* Position for the hover effect */
}

.lang-button:hover {
  transform: scale(1.1); /* Scale the button on hover */
}

/* Tooltip for language switch */
.lang-button::after {
  content: attr(title); /* Use the title attribute for tooltip */
  position: absolute;
  bottom: 100%; /* Position above the button */
  left: 50%;
  transform: translateX(-50%);
  background-color: black; /* Tooltip background */
  color: white; /* Tooltip text color */
  padding: 5px;
  border-radius: 4px;
  white-space: nowrap; /* Prevent text wrapping */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.2s; /* Fade in/out */
  pointer-events: none; /* Prevent interaction */
}

.lang-button:hover::after {
  opacity: 1; /* Show tooltip on hover */
}
