/* 
Table of Contents:
1. Font Import
2. Global Styles
3. Root Variables
4. Light Theme Variables
5. Reset Styles
6. Body Styles
7. Container Styles
8. Divider Styles
9. List Styles
10. Link Styles
11. Flexbox Styles
12. Border Styles
13. Button Styles
14. Scrollbar Styles
15. Scroll To Top Button Styles
16. Responsive Styles
*/

/* 1. Font Import */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* 2. Global Styles */
html {
  letter-spacing: 0.2px;
  scroll-behavior: smooth;
}

/* 3. Root Variables */
:root {
  --primary: rgb(17,24,39);
  --secondary: rgb(17,24,39);
  --border: rgba(63, 63, 70, 0.4);
  --title: rgb(244 244 245);
  --subtitle: rgb(161 161 170);
  --bgHeader: rgb(39, 39, 42);
  --blue: rgb(93, 188, 252);
  --icon-hover: #d4d4d8;
  --card:rgba(29,36,50 ,.6);
  --header-color:rgb(7,12,24);
  --container-padding: 4rem;

}

/* 4. Light Theme Variables */
.light {
  --primary: rgb(250, 250, 250);
  --secondary: rgb(255, 255, 255);
  --border: rgba(202, 202, 202, 0.518);
  --title: rgb(39 39 42);
  --subtitle: rgb(82 82 91);
  --bgHeader: rgb(253, 253, 253);
  --blue: rgb(0, 149, 246);
  --icon-hover: #333;
  --card: rgb(255, 255, 255);
  --header-color:rgb(255, 255, 255);

}

/* 5. Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 6. Body Styles */
body {
  font-family: "Nunito", sans-serif;
  color: #fff;
  background-color: var(--primary);
  transition: background-color 0.5s ease, color 0.5s ease;

}

/* 7. Container Styles */
.container {
  width: 80%;
  border: 2px solid var(--border);
  margin: 0 auto;
  background-color: var(--secondary);
  border-radius: 5px;
  padding: 0 var(--container-padding);
}

/* 8. Divider Styles */
.divider {
  border-bottom: 1px solid var(--border);
  margin: 3rem 0;
  width: calc(100% + var(--container-padding) + var(--container-padding));
  margin-left: calc(var(--container-padding) * -1);
}

/* 9. List Styles */
li {
  list-style: none;
}

/* 10. Link Styles */
a {
  text-decoration: none;
  color: initial;
  transition: 0.2s;
}

/* 11. Flexbox Styles */
.flex {
  display: flex;
  align-items: center;
}

/* 12. Border Styles */
.border {
  border: 2px solid red;
}

/* 13. Button Styles */
button {
  all: unset;
  cursor: pointer;
}

button:disabled{
  opacity: 0.4;
  cursor: not-allowed;
}

/* 14. Scrollbar Styles */
::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  border: 7px solid #292c3b;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  background-color: #d4d4d8;
}

::-webkit-scrollbar-thumb {
  background: rgba(93, 188, 252, 0.6);
  border-radius: 3px;
  transition: 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(93, 188, 252, 1);
}

/* 15. Scroll To Top Button Styles */
.scroll2Top {
  background-color:var(--header-color);
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  text-align: center;
  position: fixed;
  bottom: 2rem;
  right: 2%;
  border: 1px solid rgba(255, 255, 255, .3);
  color: var(--title);
}

.scroll2Top:hover {
  background-color: rgba(25, 118, 210, 1);
}

/* 16. Responsive Styles */
@media (max-width: 1200px) {
  .container {
    --container-padding: 1.7rem;
    width: 85%;
    padding: 0 var(--container-padding);
  }

  .divider {
    width: calc(100% + var(--container-padding) + var(--container-padding));
    margin-left: calc(var(--container-padding) * -1);
  }
}

@media (max-width: 600px) {
  .container {
    width: 98%;
    padding: 0 1.7rem;
  }

  .scroll2Top {
    opacity: .5;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
  }
}
