/* ================ 
1- Header 
2- Modal (Pop Up) 
3- IconButton 
4- Media query (Responsive Design) 
===================*/

/* =================
1- Header 
=================== */
header.flex {
    justify-content: space-between;
    padding: 0 2.4rem;
    margin-top: 1rem;
  }
  
  header.flex nav {
    background-color: var(--bgHeader);
    padding: 0.77rem 1.6rem;
    border-radius: 55px;
    box-shadow: 1px 1px 20px rgba(49, 48, 48, 0.5);
  }
  
  header ul.flex {
    gap: 16px;
    color: white;
  }
  
  header ul li a {
    color: var(--title);
    opacity: 0.9;
    font-size: 0.88rem;
    font-weight: 500;
  }
  
  header ul li a:hover {
    color: var(--blue);
    opacity: 1;
  }
  
  header button {
    font-size: 1.2rem;
  }
  
  /* =================
  2- Modal (Pop Up) 
  =================== */
  header .fixed {
    position: fixed;
    inset: 0;
    background-color: rgba(40, 40, 48, 0.9);
    z-index: 2;
  }
  
  @keyframes mymove {
    0% {
      scale: 0;
    }
    60% {
      scale: 1.2;
    }
    100% {
      scale: 1;
    }
  }
  
  header .fixed ul.modal {
    animation: mymove 0.7s 1;
    width: 85%;
    margin: 0 auto;
    margin-top: 2rem;
    border-radius: 1rem;
    padding: 1rem 2rem;
    background-color: var(--secondary);
  }
  
  header .fixed ul.modal li {
    border-bottom: 1px solid var(--border);
    padding: 1rem 0 0.7rem 0;
  }
  
  header .fixed ul.modal li a {
    font-size: 1rem;
  }
  
  header .fixed ul.modal li:last-child {
    border: none;
  }
  
  header .fixed ul.modal li:first-child {
    text-align: right;
    border: none;
    padding: 0.2rem 0 0rem 0;
  }
  
  /* =================
  3- Icon Button 
  =================== */
  header .icon-menu,
  header button.mode {
    background-color: var(--bgHeader);
    height: 2.5rem;
    width: 2.5rem;
    justify-content: center;
    border-radius: 50%;
    color: var(--subtitle);
    border: 1px solid rgba(244, 165, 96, 0.2);
    transition: 0.3s;
  }
  
  header .icon-menu:hover,
  header button.mode:hover {
    color: var(--title);
    border: 1px solid rgba(244, 165, 96, 0.8);
  }
  
  header .icon-close {
    font-size: 1.5rem;
    color: var(--subtitle);
    transition: 0.3s;
  }
  
  header .icon-close:hover {
    color: crimson;
    rotate: 180deg;
  }
  
  .menu {
    display: none;
  }
  
  /* =================
  4- Media query (Responsive Design) 
  =================== */
  @media (max-width: 700px) {
    header.flex nav {
      display: none;
    }
    .menu {
      display: block;
    }
  }
  