/* Skills section styles */
#skills {
    position: relative;
    background-color: var(--secondary);
    text-align: center; /* Center the title */
}

/* Skills title styles */
.skills-title {
    position: relative;
    margin-bottom: 40px; /* Space below the title */
}

.skills-title h2 { 
    color: var(--title);
    margin: 0; /* Remove default margin */
    font-size: 2rem; /* Title font size */
}

.skills-title::after {
    content: '';
    display: block;
    width: 50px;
    height: 4px;
    background: var(--blue);
    margin: 0.5rem auto; /* Center the line */
    border-radius: 4px;
}

/* Skills container styles */
.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    max-width: 800px; 
    margin: 0 auto;
}

/* Skill card styles */
.skill-card {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: var(--secondary); 
    transition: 0.3s; 
    cursor: pointer;
    width: 100px;
    height: 100px;
}

.skill-card:hover {
    scale: 1.1;
    rotate: -1deg; /* Apply rotation on hover */
    box-shadow: 2px 6px 10px rgba(93, 188, 252, .1);
}

.skill-card i {
    margin-bottom: 10px;
}

.skill-card p {
    margin-top: 7px;
    font-size: 1rem;
    color: var(--title);
}

/* Responsive adjustments */
@media screen and (max-width: 600px) {
    .skills-container {
        justify-content: center;
        gap: 20px;
        max-width: 100%; /* Full width on small screens */
    }

    .skill-card i {
        font-size: 2.5rem;
    }

    .skills-title h2 {
        font-size: 1.5rem; /* Adjust title font size for smaller screens */
    }
}
